#search-box{ 
   border: 1px solid black; 
   border-radius: 10px;
   margin-top: 50px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 20px;
}

#search{ 
    display: block;
}

#search-bubble{ 
width: 300px;
height: 25px;
border-radius: 10px;
padding-left: 10px;
}

.pad { 
    margin: 10px;
}

button{ 
    color: blue;
}


#search-table{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

table { 
    width: 50%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

 thead tr {
    background-color: lightblue;
    text-align: left;
}


 tbody tr {
    border-bottom: 1px solid #dddddd;
}

tbody tr:hover { 
    background-color: lightblue;
}

 tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

 tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}



